<table id="navbar">
  <tr id="topRow">
    <td id="logo-td">
      <svg id="svg-logo">
        <text id="text1" class="navbar-logo-text color-1" x="20" y="58" dominant-baseline="middle">WPTS</text>
        <text id="text2" class="navbar-logo-text color-2" x="20" y="58" dominant-baseline="middle">WPTS</text>
        <text id="text3" class="navbar-logo-text color-3" x="20" y="58" dominant-baseline="middle">WPTS</text>
        <text id="station" x="260" y="80">92.1</text>
      </svg>
    </td>
    <td *ngFor="let item of links" class="navbar-link">
      <button [routerLink]="item.path" class="navbar-button">
        <svg class="navbar-svg">
          <circle class="navbar-circle" cx="50%" cy="50%" r="3" style="fill: #ffffff;"></circle>
          <text class="navbar-text" x="50%" y="50%" text-anchor="middle" dominant-baseline="middle">{{item.name}}</text>
        </svg>
      </button>
    </td> 
  </tr>
  <tr id="bottomRow">
    <td colspan="100">
      <svg id="navbar-lines">
        <line id="line1" class="navbar-line color-1" x1="0" y1="5" x2="100%" y2="5" style="stroke-width: 10px;"></line>
        <line id="line2" class="navbar-line color-2" x1="0" y1="20" x2="100%" y2="20" style="stroke-width: 10px;"></line>
        <line id="line3" class="navbar-line color-3" x1="0" y1="35" x2="100%" y2="35" style="stroke-width: 10px;"></line>
      </svg>
    </td>
  </tr>
</table>